/* wrap and dynamicdiv stuff */
#wrap {margin: 0 auto; width: 800px;}

/* navigation menu */
nav {height: 20px; background-color: green;}
nav a {text-decoration: none; display: inline-block; width: 100px; text-align: center; vertical-align: middle;}


/******************************** STYLING FOR RECIPES **************************/


/****************************************** ICON BACKGROUNDS ********************/
span.icon {display: inline-block; width: 48px; height: 48px; background-size: 100%; text-indent: -13337px;}
span.remove, span.add {width: 24px; height: 24px;}
div.fullicon span.icon {width: 48px; height: 48px;}
span.delete {background-image: url("../img/trash.png");}
span.add {background-image: url("../img/add.png");}
span.edit {background-image: url("../img/pencil.png");}
span.done {background-image: url("../img/tick.png");}
span.cancel {background-image: url("../img/cross.png");}
span.remove {background-image: url("../img/minus.png");}


/******************************** STYLING FOR TABLE ***************************/
table td, table th {width: 200px; vertical-align: middle; text-align: center;}
table thead tr {background-color: blue; font-size: 24px; height: 30px;}
table tbody tr {height: 24px;}
table tbody tr:nth-child(odd) {background-color: yellow;}
table tbody tr:nth-child(even) {background-color: green;}
table tbody span.icon {background-size: 24px; background-repeat: no-repeat; height: 24px; width: 24px;}

/*second table*/
table table td, table th {width: 100px; vertical-align: middle; text-align: center;}
table table thead td {font-weight: bold;}
table table thead tr:nth-child(odd) {background-color: limegreen; font-size: 16px; height: 16px;}
table table tbody tr {height: 12px;}
table table tbody tr:nth-child(odd) {background-color: lightseagreen;}
table table tbody tr:nth-child(even) {background-color: lightskyblue;}
table table tbody span.icon {background-size: 24px; background-repeat: no-repeat; height: 24px; width: 24px;}

/******************************** STYLING FOR STATS ****************************/
#stats {position: relative;}
#stats h2 {font-size: 36px; text-align: center;}

#stats #pizzastats {width: 600px; font-size: 16px}
#stats .top10 {width: 200px; position: absolute; top: 0px; right: 0px; background-color: red;}
#stats .top10 ol {list-style-type: decimal; padding-left: 60px;}
#stats .top10 span.second {margin-left: 10px;}

/********************************** STYLING FOR STOCK ***************************/
.icon:hover {cursor: pointer;}


/************************** STYLING FOR VIEWER ******************/
/* Input styling */
input[readonly] {background-color: lightgray;}
#viewer input {width: 90px;}
#viewer table .viewerbuttons {width: 24px;}
#viewer select {width: 90px;}





